/*
 *  scroll
 */
#scroll-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px lightseagreen;
    border-radius: 10px;
    background-color: lightseagreen;
}

#scroll-1::-webkit-scrollbar
{
    width: 1px;
    background-color: lightseagreen;
}

#scroll-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px lightseagreen;
    background-color: #555;
}
#tools{
    z-index: 99;
}
#tools button{
    box-shadow: none;
}
#tools #btnArea{
    position: fixed;
    left: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 100;
}
#tools #modeArea{
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 100;
}
#tools ul{
    list-style: none;
    /*border: 1px solid lightseagreen;*/
    padding: 0;
    margin: 0;
    top: 50px;
    left: 17px;
    position: fixed;
    z-index: 100;
}
#tools ul li{
    /*border-right: 1px solid lightseagreen;*/
    /*display: inline-block;*/
    /*padding: 0px 5px;*/
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
#workzone{
    height: calc(100vh - 17px);
    width: 2500px;
    border: lightseagreen 1px solid;
    z-index: 1;
}
